* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgb(229, 235, 236);
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 12px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #1f0000;
  border-radius: 4px;
}

button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 4px;
  background: rgb(33, 140, 175);
  color: white;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background: rgb(22, 32, 36);
}
button + button {
  margin-top: 8px;
}

.result {
  margin-top: 20px;
  padding: 10px;
  background: white;
  border-radius: 6px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.container {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.semester-summary {
  margin-top: 8px;
}


